// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination {
    text-align: center;
    font-size: 15px;
    a:hover {
        color: #282;
        background-color: white;
    }
    a {
        padding-left: 2px;
    }
}
